@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  font-family: "Poppins", sans-serif;
}
*,
::before,
::after {
  border-width: 0;
}
.main-sm {
  @media (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
